################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*bin
*/bin
*obj
*/obj

# Local publish output / release zips
/publish
publish_test
*.zip